.result-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  }
.results-box{
    background-color: #bbb;
    width: 100%;
    border: 3px solid #eee;
    border-radius: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.results-box-p{
width: 100%;
margin: 10px;
padding: 10px 0 5px 5px;
text-align: left;
color: black;
font-size: 1.2em;
}
.results-box-p-span{
      margin-left: 15px;
      padding: 1px 0px 1px 5px;
      text-align: start;
      color: white;
    }
    .no-results{
          background-color: #bbb;
          width: 100%;
          border: 3px solid #eee;
          border-radius: 30px;
          margin: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 10px;
    }