
.search{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.search--center{
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: inherit;
}
.search--top{
  justify-content: center;
  align-items: flex-start;
}